<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="list-group">
      <div class="list-group-item">
        <div class="col-form-label-lg">
          Pokédex
        </div>
      </div>

      <div class="list-group-item list-group-item-dark">
        <div class="row">
          <div class="col-6">
            <form [formGroup]="formBusqueda" (submit)="buscarPokemon()">
              <div class="row">
                <div class="col col-form-label col-form-label-lg">
                  <label for="nombreNumero">Nombre o Número</label>
                </div>
                <div class="col"></div>
              </div>
              <div class="row">
                <div class="col">
                  <input
                    type="text"
                    class="form-control"
                    id="nombreNumero"
                    name="nombreNumero"
                    formControlName="nombreNumero"
                  />
                </div>
                <div class="col">
                  <button type="submit" class="btn btn-warning">
                    Buscar
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-6">
            <div class="list-group">
              <div
                class="list-group-item list-group-item-action list-group-item-success"
              >
                Busca un pokemon por su ombre o usando su número de la pokédex
                Nacional
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row row-cols-1 row-cols-md-4">
        <div class="col mb-3" *ngFor="let pokemon of pokemones">
          <a class="card-a" [routerLink]="['/PokedexDetails', pokemon.id]">
            <div class="card">
              <img
                src="assets/img/thumbnails/{{ pokemon.id | pad: 3 }}.png"
                class="card-img-top"
              />
              <div class="card-body">
                <h6>N.° {{ pokemon.id | pad: 3 }}</h6>
                <h3>{{ pokemon.name.english }}</h3>
                <div *ngFor="let tipo of pokemon.type">
                  <div *ngIf="(tipo | lowercase) == 'bug'">
                    <span
                      class="badge badge-pill badge-dark background-color-bug"
                      >Bicho</span
                    >
                  </div>
                  <div *ngIf="(tipo | lowercase) == 'dragon'">
                    <span
                      class="badge badge-pill badge-dark background-color-dragon"
                      >Dragón</span
                    >
                  </div>
                  <div *ngIf="(tipo | lowercase) == 'fairy'">
                    <span
                      class="badge badge-pill badge-dark background-color-fairy"
                      >Hada</span
                    >
                  </div>
                  <div *ngIf="(tipo | lowercase) == 'fighting'">
                    <span
                      class="badge badge-pill badge-dark background-color-fighting"
                      >Lucha</span
                    >
                  </div>
                  <div *ngIf="(tipo | lowercase) == 'fire'">
                    <span
                      class="badge badge-pill badge-dark background-color-fire"
                      >Fuego</span
                    >
                  </div>
                  <div *ngIf="(tipo | lowercase) == 'flying'">
                    <span
                      class="badge badge-pill badge-dark background-color-flying"
                      >Volador</span
                    >
                  </div>
                  <div *ngIf="(tipo | lowercase) == 'ghost'">
                    <span
                      class="badge badge-pill badge-dark background-color-ghost"
                      >Fantasma</span
                    >
                  </div>
                  <div *ngIf="(tipo | lowercase) == 'grass'">
                    <span
                      class="badge badge-pill badge-dark background-color-grass"
                      >Planta</span
                    >
                  </div>
                  <div *ngIf="(tipo | lowercase) == 'ground'">
                    <span
                      class="badge badge-pill badge-dark background-color-ground"
                      >Tierra</span
                    >
                  </div>
                  <div *ngIf="(tipo | lowercase) == 'ice'">
                    <span
                      class="badge badge-pill badge-dark background-color-ice"
                      >Hielo</span
                    >
                  </div>
                  <div *ngIf="(tipo | lowercase) == 'normal'">
                    <span
                      class="badge badge-pill badge-dark background-color-normal"
                      >Normal</span
                    >
                  </div>
                  <div *ngIf="(tipo | lowercase) == 'poison'">
                    <span
                      class="badge badge-pill badge-dark background-color-poison"
                      >Veneno</span
                    >
                  </div>
                  <div *ngIf="(tipo | lowercase) == 'psychic'">
                    <span
                      class="badge badge-pill badge-dark background-color-psychic"
                      >Psíquico</span
                    >
                  </div>
                  <div *ngIf="(tipo | lowercase) == 'rock'">
                    <span
                      class="badge badge-pill badge-dark background-color-rock"
                      >Roca</span
                    >
                  </div>
                  <div *ngIf="(tipo | lowercase) == 'steel'">
                    <span
                      class="badge badge-pill badge-dark background-color-steel"
                      >Acero</span
                    >
                  </div>
                  <div *ngIf="(tipo | lowercase) == 'water'">
                    <span
                      class="badge badge-pill badge-dark background-color-water"
                      >Agua</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1"></div>
</div>
