.card {
  width: 13rem;
}
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a.card-a:link {
  text-decoration: inherit;
  color: inherit;
}

a.card-a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}
