<div class="row">
  <div class="col-1"></div>
  <div class="col-5">
    <br />
    <br />
    <br />
    <h1>Pagina no encontrada</h1>
    <p>Lo sentimos, pero la página que buscas no está aquí.</p>
    <div class="list-group">
      <a
        [routerLink]="['/Pokedex']"
        class="list-group-item list-group-item-action list-group-item-light"
        >Buscar en la pokedédex</a
      >
      <a
      [routerLink]="['/JuegoDeCartas']"
        class="list-group-item list-group-item-action list-group-item-light"
        >Buscar en la base de datos de cartas</a
      >
      <a
      [routerLink]="['/']"
        class="list-group-item list-group-item-action list-group-item-light"
        >Regresar a Pokemon.com</a
      >
    </div>
  </div>
  <div class="col-5">
    <img src="assets/img/notfound/psyduck.png" />
  </div>
  <div class="col-1"></div>
</div>
