<div class="row" *ngIf="pokemon">
  <div class="col-1"></div>
  <div class="col-10">
    <!-- <div class="row">
       <div class="col-5 list-group">
        <div class="list-group">
          <a
            href="#"
            class="list-group-item list-group-item-action list-group-item-dark"
            >N.° {{ pokemon.id }} {{ pokemon.name }}</a
          >
        </div>
      </div>
      <div class="col-5">
        <div>
          <a
            href="#"
            class="list-group-item list-group-item-action list-group-item-dark"
            >N.° {{ pokemon.id }} {{ pokemon.name.english }}</a
          >
        </div>
      </div>
    </div>-->
    <div class="row">
      <div class="col-6">
        <h1>{{ pokemon.name.english }}</h1>
      </div>
      <div class="col-6">
        <h1>N.° {{ pokemon.id }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <img
          src="assets/img/images/{{ pokemon.id | pad: 3 }}.png"
          class="card-img-top"
        />
      </div>
      <div class="col-6">
        <h3>Descripción de pokemon.</h3>
        <br />
        <h5>Versiones :</h5>
        <div class="card text-white bg-info mb-3" style="max-width: 100%;">
          <div class="card-body">
            <h5 class="card-title">Detalles</h5>
            <p class="card-text">Altura</p>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-6">
        <div class="card bg-light mb-3" style="max-width: 100%;">
          <div class="card-header">Puntos de base</div>
          <div class="card-body">
            <div class="row">
              <div class="col-6">PS</div>
              <div class="col-6">
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    [style.width.%]="pokemon.base.hp"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    {{ pokemon.base.hp }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">Ataque</div>
              <div class="col-6">
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    [style.width.%]="pokemon.base.attack"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    {{ pokemon.base.attack }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">Defensa</div>
              <div class="col-6">
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    [style.width.%]="pokemon.base.defense"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    {{ pokemon.base.defense }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">Ataque Especial</div>
              <div class="col-6">
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    [style.width.%]="pokemon.base.spAttack"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    {{ pokemon.base.spAttack }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">Defensa Especial</div>
              <div class="col-6">
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    [style.width.%]="pokemon.base.spDefense"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    {{ pokemon.base.spDefense }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">Velocidad</div>
              <div class="col-6">
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    [style.width.%]="pokemon.base.speed"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    {{ pokemon.base.speed }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div>Puntos de base</div>
        <br />
        <div class="row">
          <div class="col-6">PS</div>
          <div class="col-6">
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                [style.width.%]="pokemon.base.HP"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                {{ pokemon.base.HP }}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">Ataque</div>
          <div class="col-6">
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                [style.width.%]="pokemon.base.attack"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                {{ pokemon.base.attack }}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">Defensa</div>
          <div class="col-6">
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                [style.width.%]="pokemon.base.defense"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                {{ pokemon.base.defense }}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">Ataque Especial</div>
          <div class="col-6">
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                [style.width.%]="pokemon.base.spattack"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                {{ pokemon.base.spattack }}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">Defensa Especial</div>
          <div class="col-6">
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                [style.width.%]="pokemon.base.spdefense"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                {{ pokemon.base.spdefense }}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">Velocidad</div>
          <div class="col-6">
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                [style.width.%]="pokemon.base.speed"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                {{ pokemon.base.speed }}
              </div>
            </div>
          </div>
        </div> -->
      </div>
      <div class="col-6">
        <div>
          <h3>Tipo</h3>
          <br />
          <div *ngFor="let tipo of pokemon.type">
            <div *ngIf="(tipo | lowercase) == 'bug'">
              <button type="button" class="btn btn-lg background-color-bug">
                Bicho
              </button>
            </div>
            <div *ngIf="(tipo | lowercase) == 'dragon'">
              <button type="button" class="btn btn-lg background-color-dragon">
                Dragón
              </button>
            </div>
            <div *ngIf="(tipo | lowercase) == 'fairy'">
              <button type="button" class="btn btn-lg background-color-fairy">
                Hada
              </button>
            </div>
            <div *ngIf="(tipo | lowercase) == 'fighting'">
              <button
                type="button"
                class="btn btn-lg background-color-fighting"
              >
                Lucha
              </button>
            </div>
            <div *ngIf="(tipo | lowercase) == 'fire'">
              <button type="button" class="btn btn-lg background-color-fire">
                Fuego
              </button>
            </div>
            <div *ngIf="(tipo | lowercase) == 'flying'">
              <button type="button" class="btn btn-lg background-color-flying">
                Volador
              </button>
            </div>
            <div *ngIf="(tipo | lowercase) == 'ghost'">
              <button type="button" class="btn btn-lg background-color-ghost">
                Fantasma
              </button>
            </div>
            <div *ngIf="(tipo | lowercase) == 'grass'">
              <button type="button" class="btn btn-lg background-color-grass">
                Planta
              </button>
            </div>
            <div *ngIf="(tipo | lowercase) == 'ground'">
              <button type="button" class="btn btn-lg background-color-ground">
                Tierra
              </button>
            </div>
            <div *ngIf="(tipo | lowercase) == 'ice'">
              <button type="button" class="btn btn-lg background-color-ice">
                Hielo
              </button>
            </div>
            <div *ngIf="(tipo | lowercase) == 'normal'">
              <button type="button" class="btn btn-lg background-color-normal">
                Normal
              </button>
            </div>
            <div *ngIf="(tipo | lowercase) == 'poison'">
              <button type="button" class="btn btn-lg background-color-poison">
                Veneno
              </button>
            </div>
            <div *ngIf="(tipo | lowercase) == 'psychic'">
              <button type="button" class="btn btn-lg background-color-psychic">
                Psíquico
              </button>
            </div>
            <div *ngIf="(tipo | lowercase) == 'rock'">
              <button type="button" class="btn btn-lg background-color-rock">
                Roca
              </button>
            </div>
            <div *ngIf="(tipo | lowercase) == 'steel'">
              <button type="button" class="btn btn-lg background-color-steel">
                Acero
              </button>
            </div>
            <div *ngIf="(tipo | lowercase) == 'water'">
              <button type="button" class="btn btn-lg background-color-water">
                Agua
              </button>
            </div>
          </div>
        </div>
        <br />
        <div>
          <h3>Debilidad</h3>
          <br />
          <div *ngFor="let tipo of pokemon.type">
            <div *ngIf="(tipo | lowercase) == 'bug'">
              <button type="button" class="btn btn-lg background-color-bug">
                Bicho
              </button>
            </div>
            <div *ngIf="(tipo | lowercase) == 'dragon'">
              <button type="button" class="btn btn-lg background-color-dragon">
                Dragón
              </button>
            </div>
            <div *ngIf="(tipo | lowercase) == 'fairy'">
              <button type="button" class="btn btn-lg background-color-fairy">
                Hada
              </button>
            </div>
            <div *ngIf="(tipo | lowercase) == 'fighting'">
              <button
                type="button"
                class="btn btn-lg background-color-fighting"
              >
                Lucha
              </button>
            </div>
            <div *ngIf="(tipo | lowercase) == 'fire'">
              <button type="button" class="btn btn-lg background-color-fire">
                Fuego
              </button>
            </div>
            <div *ngIf="(tipo | lowercase) == 'flying'">
              <button type="button" class="btn btn-lg background-color-flying">
                Volador
              </button>
            </div>
            <div *ngIf="(tipo | lowercase) == 'ghost'">
              <button type="button" class="btn btn-lg background-color-ghost">
                Fantasma
              </button>
            </div>
            <div *ngIf="(tipo | lowercase) == 'grass'">
              <button type="button" class="btn btn-lg background-color-grass">
                Planta
              </button>
            </div>
            <div *ngIf="(tipo | lowercase) == 'ground'">
              <button type="button" class="btn btn-lg background-color-ground">
                Tierra
              </button>
            </div>
            <div *ngIf="(tipo | lowercase) == 'ice'">
              <button type="button" class="btn btn-lg background-color-ice">
                Hielo
              </button>
            </div>
            <div *ngIf="(tipo | lowercase) == 'normal'">
              <button type="button" class="btn btn-lg background-color-normal">
                Normal
              </button>
            </div>
            <div *ngIf="(tipo | lowercase) == 'poison'">
              <button type="button" class="btn btn-lg background-color-poison">
                Veneno
              </button>
            </div>
            <div *ngIf="(tipo | lowercase) == 'psychic'">
              <button type="button" class="btn btn-lg background-color-psychic">
                Psíquico
              </button>
            </div>
            <div *ngIf="(tipo | lowercase) == 'rock'">
              <button type="button" class="btn btn-lg background-color-rock">
                Roca
              </button>
            </div>
            <div *ngIf="(tipo | lowercase) == 'steel'">
              <button type="button" class="btn btn-lg background-color-steel">
                Acero
              </button>
            </div>
            <div *ngIf="(tipo | lowercase) == 'water'">
              <button type="button" class="btn btn-lg background-color-water">
                Agua
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1"></div>
</div>
