<div class="row">
  <div class="col-2"></div>
  <div class="col-10">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/']"
              routerLinkActive="router-link-active"
              >Inicio</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/Pokedex']"
              routerLinkActive="router-link-active"
              >Pokedex</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/Aplicaciones']"
              routerLinkActive="router-link-active"
              >Aplicaciones</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/JuegoDeCartas']"
              routerLinkActive="router-link-active"
              >Juego de Cartas</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/TvPokemon']"
              routerLinkActive="router-link-active"
              >TV Pokemon</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/PlayPokemon']"
              routerLinkActive="router-link-active"
              >Play Pokemon</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="col-2"></div>
</div>
